.img{
    width: 250px;
    height: 350px;
}
.homebody{
    display: flex;
    justify-content: space-around;
    
}
.searsh{
    width: 500px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.modalbutton{
    padding-top:400px  !important;
}